.navigation {
  background-color: #FFB4B0;
  border: 2px solid grey;
  padding: 10;
  padding: 10px;
  font-size: .8em;
  width: 590px;
}
#one {
  display: inline-block;
}
#two {
  display: inline-block;
}
label, select {
  display: block;
}
fieldset {
  background-color: #4DD7FA;
  margin-right: 1em;
  width: 200px;
}
#box {
  background-color: #FEFAC0;
  border: 1px solid grey;
  width: 300px;
  margin-left: 1em;
  padding: 0em 0em 0em 1em;
  float: left;
}



